
<div>
    <nz-header class="main-header" nz-row nzType="flex" style="background-color: #003973;">
        <div>
            <a style="color: white; margin-left:50px; font-size: 18px;font-weight: bolder;">2nd Handy Items</a>
        </div>
        <div class="nav-links">

            <a nz-button nzType="link" routerLink="" routerLinkActive="active">Dashboard</a>
            <a nz-button nzType="link" routerLink="/item" routerLinkActive="active">Post Item</a>
        </div>
    </nz-header>
</div>